/* ## TABLE OF CONTENTS ## */
/* 
01. IDS
02. CLASSES 
*/

/* ## IDs ## */
#start-content {
    margin: 7em 0 0 0;
}
#quiz-content {
    margin: 7em 0 0 0;
}

/* ## CLASSES ## */
.btn-purple {
    color: #fff;
    background-color: #7952B3;
    border-color: #7952B3;
}
.btn-purple:hover {
    color: #fff;
    background-color: #906bc6;
    border-color: #906bc6;
}
.hide {
    display:none;
}
a.link {
    text-decoration: none;
    color: #7952B3;
}
.alert-purple {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 10em;
    color: #906bc6;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}